body,
html {
    font-family: Arial;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 13px;
}

.site-title {
    grid-column: span 12;
}

.my-name {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 37px;
    position: relative;
    font-weight: bold;
}

.my-name a:link {
    text-decoration: none;
    color: #618985;
}

.my-name a:visited {
    text-decoration: none;
    color: #618985;
}

.my-name a:hover {
    color: #f2e3bc;
    cursor: pointer;
    /*text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;*/
}

.logo1 {
    position: absolute;
    top: .5%;
    left: .5%;
}

.logo2 {
    position: absolute;
    top: .5%;
    right: .5%;
}

.dropbtn {
    cursor: pointer;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 20px;
    border: none;
    background-color: white !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white !important;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -11%;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #96bbbb !important;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #c19875 !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #96bbbb;
}

.menu {
    display: flex;
    grid-column: span 12;
    justify-content: space-evenly;
    border-top: 3px solid #618985;
    border-bottom: 3px solid #618985;
    width: 89%;
    margin-left: 5.5%;
    font-size: 20px;
}

.menu a:link {
    text-decoration: none;
    color: #414535;
}

.menu a:visited {
    text-decoration: none;
    color: #414535;
}

.menu a:hover {
    color: #96bbbb;
}

img {
    display: block;
}

.main {
    grid-column: span 12;
    border-top: 3px solid #618985;
    border-bottom: 3px solid #618985;
    position: relative;
    text-align: center;
    height: 79.5vh;
}

.about-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #c19875;
}

#logo1 {
    position: absolute;
    left: -25%;
    top: 20%;
}

#logo2 {
    position: absolute;
    left: 110%;
    top: 20%;
}

.about-box {
    display: flex;
    background-color: rgba(97, 137, 133, 0.3)
        /*rgba(242, 227, 188, 0.5) rgba(193, 152, 117, 0.3)*/
    ;
    border-radius: 5px;
    width: 80%;
    position: absolute;
    top: 28%;
    left: 10%;
    outline: 1px solid #618985;
    outline-offset: -10px;
}

.about-me {
    width: 80%;
    color: #414535;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 24px;
    padding: 25px;
}

.my-pic {
    padding: 20px;
}

@media screen and (max-width: 740px) {
    .about-title {
        top: 15%;
    }
    
    .about-box {
        top: 22%;
    }
}

@media screen and (max-width: 650px) {
    .about-me {
        font-size: 20px;
    }
    
     .about-title {
        top: 15%;
    }
    
    .about-box {
        top: 22%;
    }
}

@media screen and (max-width: 500px) {
    .about-title {
        top: 9%;
    }
    
    .about-box {
        top: 14%;
    }
    
    .about-me {
        font-size: 16px;
    }
    
}

/*.welcome-text {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Patrick Hand SC', cursive;
    color: white;
    font-weight: bold;
    border-style: double none double none;
}*/

.footer {
    grid-column: span 12;
    background-color: #618985;
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 7px;
}

.copyright {
    color: #96bbbb;
    font-size: 10px;
}

/*#96bbbb, #618985, #414535, #f2e3bc, #c19875*/
