body,
html {
    font-family: Arial;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Carrois Gothic SC', sans-serif;
    color: #414535;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 12px;
}

.site-title {
    grid-column: span 12;
}

.my-name {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 36px;
    position: relative;
    font-weight: bold;
    word-spacing: 100vw;
    line-height: 27px;
}

.my-name a:link {
    text-decoration: none;
    color: #618985;
}

.my-name a:visited {
    text-decoration: none;
    color: #618985;
}

.my-name a:hover {
    color: #f2e3bc;
    cursor: pointer;
    /*text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;*/
}

.logo1 {
    position: absolute;
    top: .5%;
    left: .5%;
}

.logo2 {
    position: absolute;
    top: .5%;
    right: .5%;
}

.dropbtn {
    cursor: pointer;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 20px;
    border: none;
    background-color: transparent;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -11%;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #96bbbb !important;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #c19875 !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #96bbbb;
}

.menu {
    display: flex;
    grid-column: span 12;
    justify-content: space-evenly;
    border-top: 3px solid #618985;
    border-bottom: 3px solid #618985;
    width: 89%;
    margin-left: 5.5%;
    font-size: 20px;
}

.menu a:link {
    text-decoration: none;
    color: #414535;
}

.menu a:visited {
    text-decoration: none;
    color: #414535;
}

.menu a:hover {
    color: #96bbbb;
}

img {
    display: block;
}

.main {
    grid-column: span 12;
    border-top: 3px solid #618985;
    border-bottom: 3px solid #618985;
    position: relative;
    text-align: center;
}

@media screen and (min-width: 601px) {
    .background {
        background-image:url(travel/boats.jpg);
        background-size: cover;
        height: 80vh;
    }
}

@media screen and (max-width: 600px) {
    .background {
        background-image:url(campus/snowflakes.jpg);
        background-size: cover;
        height: 80vh;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
.background {
        background-image:url(campus/snowflakes.jpg);
    background-size: cover;
}
    /*.dropdown-content {
        left: 11%;
    }*/
}

.welcome-text {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Patrick Hand SC', cursive;
    color: white;
    font-weight: bold;
    border-style: double none double none;
}

.to-gallery {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.to-gallery a:link {
    text-decoration: none;
    color: #f2e3bc;
}

.to-gallery a:visited {
    text-decoration: none;
    color: #f2e3bc;
}

.to-gallery a:hover {
    color: #c19875;
    cursor: pointer;
}

.footer {
    grid-column: span 12;
    background-color: #618985;
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 7px;
}

.copyright {
    color: #96bbbb;
    font-size: 10px;
}
