* {
    box-sizing: border-box;
}

body,
html {
    font-family: Arial;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Carrois Gothic SC', sans-serif;
    color: #414535;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 12px;
}

.site-title {
    grid-column: span 12;
}

.my-name {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 36px;
    position: relative;
    font-weight: bold;
    word-spacing: 100vw;
    line-height: 27px;
}

.my-name a:link {
    text-decoration: none;
    color: #618985;
}

.my-name a:visited {
    text-decoration: none;
    color: #618985;
}

.my-name a:hover {
    color: #f2e3bc;
    cursor: pointer;
    /*text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;*/
}

.logo1 {
    position: absolute;
    top: .5%;
    left: .5%;
}

.logo2 {
    position: absolute;
    top: .5%;
    right: .5%;
}

.dropbtn {
    cursor: pointer;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 20px;
    border: none;
    background-color: white !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white !important;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -11%;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #96bbbb !important;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #c19875 !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #96bbbb;
}

.menu {
    display: flex;
    grid-column: span 12;
    justify-content: space-evenly;
    border-top: 3px solid #618985;
    border-bottom: 3px solid #618985;
    width: 89%;
    margin-left: 5.5%;
    font-size: 20px;
}

.menu a:link {
    text-decoration: none;
    color: #414535;
}

.menu a:visited {
    text-decoration: none;
    color: #414535;
}

.menu a:hover {
    color: #96bbbb;
}

img {
    display: block;
}

.main {
    grid-column: span 12;
    border-top: 3px solid #618985;
    border-bottom: 3px solid #618985;
    position: relative;
    text-align: center;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 4px;
    padding-right: 4px;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 375px) {
   .dropdown-content {
       left: -2%;
    }
}

.footer {
    grid-column: span 12;
    background-color: #618985;
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 7px;
}

.copyright {
    color: #96bbbb;
    font-size: 10px;
}
